# ignore everything
*
# except:
!.gitignore
!.tm_properties
!bin
!bin/fu-suite
!bin/bak
!bin/bbcradio
!bin/git-delete-local-merged
!bin/git-prune-origin
!bin/git-info
!bin/git-wtf
!bin/gitio
!bin/hub
!bin/lyrics
!bin/main
!bin/mute
!bin/t
!bin/volume
!bin/rbgems
!fnm
!fnm/node-version.symlink
!git
!git/gitconfig.symlink
!git/completion.zsh
!git/gitignore.symlink
!LICENSE
!node
!node/completion.zsh
!macos
!macos/set-defaults.sh
!macos/install-tools.sh
!Rakefile
!README.md
!ruby
!ruby/gemrc.symlink
!ruby/install.sh
!starship
!starship/starship.toml.symlink
!tm
!tm/tm_properties.symlink
!tm/tm_setup.sh
!vscode
!vscode/keybindings.json
!vscode/settings.json
!vscode/snippets
!vscode/snippets/javascript.json
!vscode/snippets/javascriptreact.json
!vscode/vscode-setup.sh
!win
!win/Microsoft.PowerShell_profile.ps1
!zsh
!zsh/bindings.zsh
!zsh/config.zsh
!zsh/completions.zsh
!zsh/ZSH.md
!zsh/zshrc.symlink
!zsh/zshenv.symlink
!zsh/zprofile.symlink
!zsh/functions
!zsh/functions/_c
!zsh/functions/_rake
!zsh/functions/c
