# ignore everything
*
# except:
!.gitignore
!.tm_properties
!bash
!bash/aliases.sh
!bash/bash_profile.symlink
!bash/bash_prompt.symlink
!bash/completion.sh
!bash/env.sh
!bash/functions.sh
!bin
!bin/fu-suite
!bin/git-delete-local-merged
!bin/git-rank-contributers
!bin/git-info
!bin/git-wtf
!bin/gitio
!bin/hub
!bin/lyrics
!bin/mute
!bin/subl
!git
!git/gitconfig
!git/completion.zsh
!git/gitignore.symlink
!lib
!lib/bbc_project_completion.rb
!lib/git_completion
!lib/project_completion.rb
!lib/rake_completion.rb
!lib/tm_bundle_completion.rb
!LICENSE
!node
!node/install.sh
!node/completion.zsh
!osx
!osx/set-defaults.sh
!osx/install-tools.sh
!Rakefile
!README.md
!ruby
!ruby/gemrc.symlink
!sublime
!sublime/Preferences.sublime-settings
!sublime/sublime-setup.sh
!tm
!tm/tm_properties.symlink
!tm/tm_setup.sh
!vim
!vim/vimrc.symlink
!vim/vim.symlink
!vim/vim.symlink/colors
!vim/vim.symlink/colors/Tomorrow-Night.vim
!vim/vim.symlink/syntax
!vim/vim.symlink/syntax/actionscript.vim
!vim/vim.symlink/syntax/cucumber.vim
!vim/vim.symlink/syntax/mkd.vim
!zsh
!zsh/config.zsh
!zsh/prompt.zsh
!zsh/zshrc.symlink
!zsh/functions
!zsh/functions/_brew
!zsh/functions/_c
!zsh/functions/_h
!zsh/functions/_radio
!zsh/functions/_rake
!zsh/functions/_tm
!zsh/functions/_tv
!zsh/functions/_weather
!zsh/functions/c
!zsh/functions/h
!zsh/functions/tm
!zsh/functions/last_modified
!zsh/functions/smartextract

