"*":
  "atom-beautify":
    general:
      analytics: false
    js:
      brace_style: "collapse-preserve-inline"
      end_with_newline: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "whitespace"
      "linter-csslint"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      ".nyc_output"
    ]
    projectHome: "/Users/simon/code"
    telemetryConsent: "no"
    warnOnLargeFileLimit: 5
  editor:
    fontFamily: "Roboto Mono Light for Powerline"
    fontSize: 18
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "b67e2095-f03b-6450-3c77-a0bb42fcdc80"
  "fuzzy-finder":
    ignoredNames: [
      "app/*"
      "coverage/*"
      "releases/*"
      "src/vendor/*"
    ]
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 93
    showPanel: true
  "linter-xo":
    fixOnSave: true
  minimap: {}
  "mocha-test-runner": {}
  "spell-check":
    addKnownWords: true
    knownWords: [
      "programme"
    ]
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
